body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
/* Begin Visual Aids */
div {
  background-color: lightcyan;
  border: 1px solid red;
}
/* End Visual Aids */
/* Begin Styles */
.main-grid {
  display: grid;
  width: 99vw;
  height: 99vh;
  gap: none;
  grid-template-columns: minmax(200px, 15vw) auto;
  /* grid-area: 1 / 1 / 3 / 3; */
  grid-template-areas:
    "sidebar fact-area"
    "sidebar cat-area";
  background: lightblue;
}
.sidebar {
  grid-area: sidebar;
  background-color: lightgrey;
}
.title {
}
.directions {
}
.controls {
  display: flexbox; /*! research required */
  position: relative;
  top: 50vh;
  background-color: lightgrey;
  text-align: center;
}
.feed {
  width: 95%;
  padding: 0.6rem;
}
.pet {
  width: 95%;
  padding: 0.6rem;
}
.footer {
  position: relative;
  top: 50.5vh;
}
.fact-area {
  grid-area: fact-area;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.fact-bubble {
  height: min-content;
  line-height: 3ch;
  background-color: seashell;
  padding-bottom: 5px;
}
.cat-area {
  grid-area: cat-area;
}
.cat-container {
}
.food-container {
}

/* id-specific styles for fact-area divs */
#tl {
}
#tr {
}
#bl {
}
#br {
}
