body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  width: 100vw;
}
/* Begin Visual Aids */
div {
  /* background-color: lightcyan; */
  /* border: 1px solid red; */
}
/* End Visual Aids */
/* Begin Styles */
.main-grid {
  display: grid;
  width: 99vw;
  height: 99vh;
  gap: none;
  grid-template-columns: minmax(250px, 15vw) auto;
  /* grid-area: 1 / 1 / 3 / 3; */
  grid-template-areas:
    "sidebar fact-area"
    "sidebar cat-area";
  background: black;
}
.sidebar {
  grid-area: sidebar;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  padding-left: 10%;
}
.title {
  margin: auto;
}
.directions {
  margin: auto;
  line-height: 2.5rem;
}
.controls {
  position: relative;
  top: 50vh;
  background-color: lightgrey;
  text-align: center;
}
.feed {
  width: 95%;
  padding: 0.6rem;
}
.pet {
  width: 95%;
  padding: 0.6rem;
}
.footer {
  position: relative;
  top: 50.5vh;
}
.fact-area {
  grid-area: fact-area;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.fact-bubble {
  position: unset;
  height: min-content;
  line-height: 3ch;
  background-color: seashell;
  padding-bottom: 5px;
}
.cat-area {
  grid-area: cat-area;
  background-color: black;
}

.cat {
  position: relative;
  width: 1100px;
  height: 750px;
  margin: auto auto auto 20%;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-y: center;
}

.eye {
  width: 120px;
  height: 150px;
  border-style: solid inset solid solid;
  border-width: 7px 2px 4px 9px;
  border-color: rgb(17, 42, 47) rgb(17, 42, 47) rgb(17, 42, 47);
  background-image: radial-gradient(
    /* from top, */ rgb(11, 236, 240) 15%,
    rgba(9, 192, 196, 0.3) 100%
  );
}

.eye-left {
  position: relative;
  top: 37%;
  left: 16%;
  border-top-left-radius: 0rem 1rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 8rem 9rem;
  border-bottom-right-radius: 10px 20px;
  transform: rotate(-22deg);
}
.eye-right {
  position: relative;
  top: 15%;
  left: 39%;
  border-top-left-radius: 0rem 1rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 9rem 8rem;
  border-bottom-right-radius: 10px 20px;
  transform: scale(-1, 1) rotate(-22deg);
}

.left-pupil {
  position: relative;
  width: 60px;
  height: 70px;
  top: 22%;
  left: 35%;
  transform: rotate(-15deg);
  border-radius: 100% 0;
  background-color: black;
  border: none;
}
.right-pupil {
  position: relative;
  width: 60px;
  height: 70px;
  top: 15%;
  left: 30%;
  transform: rotate(-20deg);
  border-radius: 100% 0;
  background-color: black;
  border: none;
}

.whiskers {
  position: relative;
  width: 60%;
  height: 180px;
  top: 15%;
  left: 3.7%;
}
.whiskers-left,
.whiskers-right {
  position: relative;
  width: 70%;
  height: 100%;
}

.whiskers-right {
  transform: scale(-1, 1);
  top: -100%;
  left: 30%;
}

.whisker {
  position: relative;
  width: 90%;
  height: 20px;
  border-top: solid 2px white;
  border-left: solid 1px white;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 10rem 5rem;
  border-top-right-radius: 2rem 1rem;
  /* border-bottom-left-radius: 3rem 5rem; */
  border-bottom-right-radius: 1rem 5rem;
}

.whisker:nth-of-type(1) {
  left: -120px;
  transform: rotate(8deg);
}
.whisker:nth-of-type(2) {
  width: 70%;
  margin-top: 18px;
  margin-left: -35px;
  transform: rotate(2deg) translatex(-10px);
}
.whisker:nth-of-type(3) {
  width: 50%;
  margin-top: 25px;
  margin-left: 15px;
  transform: rotate(-9deg) translateX(15px);
}

/* .mouth {
  position: relative;
  top: 20%;
  left: 13%;
  width: 490px;
  height: 120px;
  background-color: white; 
  border-top-left-radius: 15rem 20%;
  border-top-right-radius: 10rem 20%;
  border-bottom-left-radius: 100% 15rem;
  border-bottom-right-radius: 100% 15rem;
  border-bottom: 4px solid white;
  clip-path: inset(10% 10% 10% 10% round 20%, 20%);
} */

/* .mouth::before {
  border-bottom-left-radius: 15rem;
  border-bottom-right-radius: 15rem;
  border-bottom: 15px solid blue;
} */
